@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #f9fafb; /* Tailwind bg-gray-50 */
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #111827; /* Tailwind bg-gray-900 */
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #374151;
}